
body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        /*width: auto;*/
        /*max-width: 680px;*/
      }
      .container .credit {
        margin: 20px 0;
      }


      /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 520px;
      width: 1200px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      /*min-width: 100%;*/
      /*height: 500px;*/
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      /*max-width: 550px;*/
      padding: 0 180px;
      margin-top: 80px;
      margin-bottom: 300px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {

      margin-top: 10px;
    }

    .main_logo { 
      padding:50px 600px;
      height: 162px;
      width: 189px
    }

    p {
      margin:0 0 10px;
      font-size:16px;
      font-family: 'Pontano Sans', sans-serif;
      line-height: 23px;
      font-weight: normal;
      color: #606060;
    }

    li+p{
      margin: none;
    }

    .lead-title {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-bottom:25px;
      font-size:30px;
      font-weight:100;
      line-height:30px;
      color: #707070;
    }

    .lead-mute {
      margin-bottom:20px;
      font-size:23px;
      font-weight:200;
      line-height:30px;
      color:#afafaf;
    }


    .lead-hmd {
      margin-bottom:20px;
      font-size:30px;
      font-weight:200;
      line-height: 1.3;
      color: #505050;
    }

    .lead-small {
      margin-bottom:20px;
      font-size:22px;
      font-weight:200;
      color: #505050;
    }

    .lead-medium {
      margin-bottom:20px;
      font-size:17px;
      font-weight:200;
      line-height:30px;
    }

    .lead-navbar {
      margin-top:4px;
      margin-bottom: 0;
      font-size:17px;
      font-weight:200;
    }

     .lead-search {
      margin-top:50px;
      margin-bottom:20px;
      font-size:50px;
      font-weight:300;
      text-shadow: -1px -1px #d9d9d9;
      color: #3a87ad;
    }



    .container-services{
      border-style: solid;
      border-width: 0px;
      border-color: #dfdfdf;
    }

   
    .lead-services{
      margin: 15px;
      font-size: 18px;
      text-align: center;
      color: #a0a0a0;
      font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
      font-weight: lighter;
      text-shadow: 0px -2px 2px #fff;

    }


    .lead-services-active{
      margin: 15px;
      font-size: 18px;
      font-style: bold;
      text-align: center;
      font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
      font-weight: lighter;
      color: #808080;
      text-shadow: 0px 1px 1px #fff;
      

    }

   .btn-service{
      height: 100%;
      width: 24.77%;
      max-height: 50px;
      float: left;
      border-style: solid;
      border-color: #dfdfdf;
      border-width: 1px;
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #d0d0d0;
      text-align: left;
      background-color: #4D4D4D;
                 background-image: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
                 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f2f2f2));
                 background-image: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
                 background-image: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
                 background-image: linear-gradient(to bottom, #f7f7f7, #f2f2f2);
                 background-repeat: repeat-x;
                 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
      box-shadow: 5px 5px 10px #e4e4e4;
    }


    .btn-service-active{
      width: auto;
      height: 100%;
      width: 24.77%;
      max-height: 50px;
      float: left;
      border-style: solid;
      border-color: #dfdfdf;
      border-width: 1px;
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #AFCFFF;
      text-align: left;
      background-color: #4D4D4D;
                 background-image: -moz-linear-gradient(top, #fdfdfd, #f5f5f5);
                 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f5f5f5));
                 background-image: -webkit-linear-gradient(top, #fdfdfd, #f5f5f5);
                 background-image: -o-linear-gradient(top, #fdfdfd, #f5f5f5);
                 background-image: linear-gradient(to bottom, #fdfdfd, #f5f5f5);
                 background-repeat: repeat-x;
                 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f5f5', GradientType=0);
      box-shadow: 0px 5px 10px #c2c2c2;


    }

    .service-box{ 
      margin: 0 auto;
      padding-top: 20px;
      box-shadow: 5px 5px 10px #e4e4e4;
    }

    .service-section{

    }


    a:link {
      color: #4e4e4e; 
    }

    a:active {
      color: #4e4e4e; 
    }

    a:visited {
      color: #4e4e4e; 
    }

    a:hover {
      color: #2595BA; 
      text-decoration: none; 
    }

    #myCarouselResponsive{
          display: none;
          margin: 0 auto;
        }

    #main-logo{
      width: 22%;
      display: block;
    }

    #main-logo-responsive{
      display: none;
    }

    #navbar-servicios{
      margin-left: 135px; 
      padding-top: 20px;
    }

    #hmd-contact{
      width: 80%;
      margin: 15px 15px 0 0;
    }

    #img-index{
      margin-left: -35px;
    }

 /* --------- RESPONSIVE BEGINS HERE ------------- */

@media (max-width: 767px) {

        *{
          margin: 0 auto;
          text-align: center;
        }


        .navbar{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
        }

        .nav-collapse{
          display: inherit;
          float: right;
          background-color: #f3f3f3;
          border-radius: 5%;
        }

        .lead-navbar{
          font-size: 100%;
        }

        .navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{
          color:#555555;
          text-decoration:none;
          background-color:#e5e5e5;
          -webkit-box-shadow:inset 0 3px 8px rgba(0, 0, 0, 0.125);
          -moz-box-shadow:inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow:inset 0 3px 8px rgba(0, 0, 0, 0.125);
          width: 70%;
          height: 47%;
          max-height: 20px;
          margin-bottom: 0px;
          margin-top: 0px;
          -webkit-transition: all 0.7s ease-in-out;
          -moz-transition: all 0.7s ease-in-out;
          transition: all 0.7s ease-in-out;
        }

        .lead-services{
          font-size: 90%;
          line-height: 1;
          margin-top: 10%;
        }


        .lead-services-active{
          font-size: 90%;
          line-height: 1;
          margin-top: 10%;
        }

       .btn-service{
          height: 100%;
          width: 24.3%;
          max-height: 45px;
          margin-bottom: 5px;

        }


        .btn-service-active{
          height: 100%;
          width: 24.3%;
          max-height: 45px;
          margin-bottom: 5px;
        }


        .brand{
          display: none;
        } 

        #main-logo{
          display: none;
        }

        #navbar-servicios{
          margin: 0 auto;
        }

        #main-logo-responsive{
          display: inline-block;
          margin-top: 15px; 
          margin-left:25px; 
          width:25%;
        }

        #myCarousel {
          display: none;
        }

        #myCarouselResponsive{
          display: block;
          margin: 0 auto;
        }

        #hmd-contact{
          width: 20%;
          margin: 0 auto;
        }
}

@media (min-width: 768px) and (max-width: 1200px) {

  *{
          margin: 0 auto;
        }


        .navbar{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
        }

        .lead-navbar{
          font-size: 100%;
        }

        .lead-services{
          font-size: 90%;
          line-height: 1;
          margin-top: 10%;
        }


        .lead-services-active{
          font-size: 90%;
          line-height: 1;
          margin-top: 10%;
        }

       .btn-service{
          height: 100%;
          width: 24.3%;
          max-height: 45px;
          margin-bottom: 5px;

        }

        #navbar-servicios{
          margin: 0 auto;
        }

        #hmd-contact{
          width: 30%;
          margin: 15px 15px 0 0;
        }



}
  

