body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        /*width: auto;*/
        /*max-width: 680px;*/
      }
      .container .credit {
        margin: 20px 0;
      }


      /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 520px;
      width: 1200px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      /*min-width: 100%;*/
      /*height: 500px;*/
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      /*max-width: 550px;*/
      padding: 0 180px;
      margin-top: 80px;
      margin-bottom: 300px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {

      margin-top: 10px;
    }

    .main_logo { 
      padding:50px 600px;
      height: 162px;
      width: 189px
    }

    p {
      margin:0 0 10px;
      font-size:14px;
      font-family: 'Raleway', sans-serif;
    }

    .lead-title {
      margin-bottom:20px;
      font-size:35px;
      font-weight:200;
      line-height:30px;
    }

    .lead-mute {
      margin-bottom:20px;
      font-size:23px;
      font-weight:200;
      line-height:30px;
      color:#afafaf;
    }


    .lead-hmd {
      margin-bottom:20px;
      font-size:23px;
      font-weight:200;
      line-height:30px;
    }

    .lead-small {
      margin-bottom:20px;
      font-size:14px;
      font-weight:200;
      line-height:30px;
    }

    .lead-medium {
      margin-bottom:20px;
      font-size:16px;
      font-weight:200;
      line-height:30px;
    }

    .lead-navbar {
      margin-top:2px;
      margin-bottom: auto 0px;
      font-size:15px;
      font-weight:200;
    }

     .lead-search {
      margin-top:50px;
      margin-bottom:20px;
      font-size:50px;
      font-weight:300;
      text-shadow: -1px -1px #d9d9d9;
      color: #3a87ad;
    }

    .lead-services{
      margin-top: 10px;
      font-size: 16px;

    }

    .container-services{
      border-style: solid;
      border-width: 1px;
      border-color: #2cc;
    }

    .btn-service{
      width: auto;
      height: 40px;
      border-style: solid;
      border-color: #2cc;
      border-width: 1px;
      text-align: center;

    }


    a:link {
      color: #4e4e4e; 
    }

    a:active {
      color: #4e4e4e; 
    }

    a:visited {
      color: #4e4e4e; 
    }

    a:hover {
      color: #2595BA; 
      text-decoration: none; 
    }


